<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Q1_Servlet</servlet-name>
        <servlet-class>Q1_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q2_Servlet</servlet-name>
        <servlet-class>Q2_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q3_Servlet</servlet-name>
        <servlet-class>Q3_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q4_Servlet</servlet-name>
        <servlet-class>Q4_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q5_Servlet</servlet-name>
        <servlet-class>Q5_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q6_Servlet</servlet-name>
        <servlet-class>Q6_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q7_Servlet</servlet-name>
        <servlet-class>Q7_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q8_Servlet</servlet-name>
        <servlet-class>Q8_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q9_Servlet</servlet-name>
        <servlet-class>Q9_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q10_Servlet</servlet-name>
        <servlet-class>Q10_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q11_Servlet</servlet-name>
        <servlet-class>Q11_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q12_CreateTable</servlet-name>
        <servlet-class>Q12_CreateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q12_InsertServlet</servlet-name>
        <servlet-class>Q12_InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q12_Servlet</servlet-name>
        <servlet-class>Q12_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q13_Servlet</servlet-name>
        <servlet-class>Q13_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q14_Servlet</servlet-name>
        <servlet-class>Q14_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q15_Servlet</servlet-name>
        <servlet-class>Q15_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q16_Servlet</servlet-name>
        <servlet-class>Q16_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q1_Servlet</servlet-name>
        <url-pattern>/Q1_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q2_Servlet</servlet-name>
        <url-pattern>/Q2_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q3_Servlet</servlet-name>
        <url-pattern>/Q3_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q4_Servlet</servlet-name>
        <url-pattern>/Q4_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q5_Servlet</servlet-name>
        <url-pattern>/Q5_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q6_Servlet</servlet-name>
        <url-pattern>/Q6_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q7_Servlet</servlet-name>
        <url-pattern>/Q7_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q8_Servlet</servlet-name>
        <url-pattern>/Q8_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q9_Servlet</servlet-name>
        <url-pattern>/Q9_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q10_Servlet</servlet-name>
        <url-pattern>/Q10_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q11_Servlet</servlet-name>
        <url-pattern>/Q11_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q12_CreateTable</servlet-name>
        <url-pattern>/Q12_CreateTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q12_InsertServlet</servlet-name>
        <url-pattern>/Q12_InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q12_Servlet</servlet-name>
        <url-pattern>/Q12_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q13_Servlet</servlet-name>
        <url-pattern>/Q13_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q14_Servlet</servlet-name>
        <url-pattern>/Q14_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q15_Servlet</servlet-name>
        <url-pattern>/Q15_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q16_Servlet</servlet-name>
        <url-pattern>/Q16_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
